<?xml version="1.0" encoding="utf-8"?>
    <!--
     * Copyright (C) 2010 The Android Open Source Project
     *
     * Licensed under the Apache License, Version 2.0 (the "License");
     * you may not use this file except in compliance with the License.
     * You may obtain a copy of the License at
     *
     *      http://www.apache.org/licenses/LICENSE-2.0
     *
     * Unless required by applicable law or agreed to in writing, software
     * distributed under the License is distributed on an "AS IS" BASIS,
     * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     * See the License for the specific language governing permissions and
     * limitations under the License.
    
    
    -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guzzardo.android.willyshmo.tictactoe4">

    <!-- use min 4 to support HTC G1 for testing (no support for ListFragment) -->
<!-- uses-sdk android:minSdkVersion="11" android:targetSdkVersion="15"/ -->
<!-- need min 11 (Honeycomb) to support ListFragment -->
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
<uses-permission android:name="com.android.vending.CHECK_LICENSE" />

<!-- android:theme="@style/CustomTheme" -->

<!-- application
    android:name="WillyShmoApplication"    -->


<application
    android:name="com.guzzardo.android.willyshmo.tictactoe4.WillyShmoApplication"

    android:allowBackup="true"
    android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:theme="@style/Theme.AppCompat.Light"
    android:screenOrientation="landscape" >

    <!-- android:debuggable="true" -->
    <!-- don't forget to remove this before releasing to public! -->
    <!-- android:name="com.guzzardo.android.willyshmo.tictactoe4.TwitterApplication" -->

    <!-- activity
        android:name="SplashScreen" -->

    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.SplashScreen"
        android:label="@string/splash_name"
        android:screenOrientation="landscape"
        android:theme="@style/WillyTheme" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@style/WillyTheme" >
        <intent-filter>
            <action android:name="com.guzzardo.android.willyshmo.tictactoe4.MainActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>



    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.FusedLocationActivity"
        android:parentActivityName=".SplashScreen"
        android:screenOrientation="landscape"
        android:theme="@style/WillyTheme" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".SplashScreen" />
    </activity>




    





    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.RulesActivity"
        android:label="@string/rules_name"
        android:screenOrientation="landscape">
    </activity>
    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.AboutActivity"
        android:label="@string/about_name"
        android:screenOrientation="landscape">
    </activity>
    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.OnePlayerActivity"
        android:label="@string/one_player_name"
        android:screenOrientation="landscape"
        android:theme="@style/WillyTheme" >
    </activity>
    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.TwoPlayerActivity"
        android:label="@string/two_player_name"
        android:screenOrientation="landscape"
        android:theme="@style/WillyTheme" >
    </activity>
    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.GameActivity"
        android:noHistory="true"
        android:screenOrientation="landscape" />

    <!-- Dialog samples -->
    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.SettingsDialogs"
        android:label="@string/settings"
        android:screenOrientation="landscape"
        android:theme="@style/WillyTheme" >
    </activity>
    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.PlayOverNetwork"
        android:screenOrientation="landscape"
        android:theme="@style/WillyListTheme" >

        <!-- use this for Twitter OAuth -->
        <!--
        intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="callback" android:host="thisApp" />
        </intent-filter

        -->
    </activity>
    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.PlayersOnlineActivity"
        android:label="@string/select_player"
        android:noHistory="true"
        android:screenOrientation="landscape" />
    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.PrizesAvailableActivity"
        android:label="@string/show_prizes"
        android:noHistory="true"
        android:screenOrientation="landscape"
        android:theme="@style/WillyListTheme" />

    <activity
        android:name="com.guzzardo.android.willyshmo.tictactoe4.GetConfigurationActivity" />

    <meta-data

        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-0452251857239552~2506755884"
        />

    <!-- android:name="ADMOB_PUBLISHER_ID"
         android:value="a14c4786f7a05ac"
     -->

    <activity
        android:name="com.google.android.gms.ads.AdActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
         App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->

    <!--uses-library android:name="com.google.android.vending.licensing.CHECK_LICENSE"
        android:required="true" / -->

</application>

</manifest>
